In [2]:
import sys
import os

import pandas as pd

In [2]:
root_dir = 'C:/Users/delst/OneDrive/Desktop/Code/Workspace/NLP_Disaster_Tweets'
sys.path.append(root_dir)

from A_Root_Dir.Configurations.setup_env import setup_environment
config = setup_environment(root_dir)

# Class Imports
from Modularization.metadata import DataDictionary
from Modularization.initial_process import InitialProcessing

fig_size = config.fig_size
raw_dtype = config.raw_dtype
true_dtype = config.true_dtype
dd_descriptions = config.dd_descriptions

---

In [3]:
# Read csv
train_data_dir = config.raw_data_train
test_data_dir = config.raw_data_test

df_train = pd.read_csv(train_data_dir)
df_test = pd.read_csv(test_data_dir)

display(df_train.head())
display(df_test.head())

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

---

In [5]:
create_data_dictionary = DataDictionary(df_train)
dd = create_data_dictionary.make_my_data_dictionary(df_train, true_dtype, dd_descriptions)
dd

,id,keyword,location,text,target
Raw_dtype,int64,object,object,object,int64
True_dtype,int64,object,object,object,int64
Length,7613,7613,7613,7613,7613
Null_Count,0,61,2533,0,0
Memory (MB),0.061,0.498,0.442,1.22,0.061
Definition,Unique identifier for each tweet,Keyword from the tweet,Location the tweet was sent from,Text of the tweet,Whether the tweet is about a real disaster (1)...

---

In [7]:
# # convert to csv
# dd.to_excel('Data_Dictionary.xlsx', index=True)